<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Utility.SqlServerClient.Properties.Settings.EMRSConnectionString"
            connectionString="Data Source=h2014eul0499a.azgroup.itad.corpnet;Initial Catalog=EMRS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>